/* Table Of contents */


/* Global Styles */
/* Utilities */
/* Slideshows */
/* Navigation Section */
/* TOOlbox */
/* Developer Section */


:root {
    --bg: #F4F5FA;
    --red: white;
    --yellow: #ff9912;
    --blue: #0096FF;
    --font-medium: 2rem;
    --font-logo: 'Dancing Script', cursive;
  }

  
  
  /* Global Styles */

  *, ::after, ::before {
    box-sizing: border-box;
  }

  nav{
    text-transform: uppercase;
  }
  
  img{
    width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to top left, #33ccff 0%, #ffd26a 100%); */
    background-color: rgba(235, 169, 55,0.5);
    font-family: 'Roboto', sans-serif;
  }


  ul{
    box-sizing: border-box;
    list-style: none;
  }

  
  li:hover {
    border: 0.5px dashed green;
  }
  
  li{
    border: 1px solid transparent;
  }
  
  
  section {
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid grey;
  }
  
  section:nth-of-type(2) {
    border-bottom: none;
  }
  
  html {
    scroll-behavior: smooth;
    user-select: none;
  }
  
  h1, h2, h3, h4, ul {
    padding: 0;
    margin: 0;
  }
  
  h1, h2, h3, h4 {
    text-align: center;
  }
  
  a {
    color: 0;
    text-decoration: none;
  }

  section{
    padding: 100px 0;
  }


  

  /* Utilities */

  .logo{
    font-family: var(--font-logo);
    font-size: var(--font-medium);
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .marginRight{
    margin-right: auto;
  }
  .container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  }

  header {
    position:fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
  }



     
  /* Developer Section */
  h1 {
    font-size: 3rem;
  }
  
  .developer-about {
    width: 62%;
  }
  
 
  .hero-img {
    border-radius: 8px;
    width: 50%;
    height: 400px;
    object-fit: cover;
  
  }
  
  .shortline {
    border-top: 20px solid var(--blue);
    width: 250px;
    padding-bottom: 3rem;
  }
  
  h2 {
    color: var(--blue);
  }
  




  /* Slideshows */

  .Slides{
    display: none;
    height: auto;
    width: 70%;
    margin: 0 auto;
    
  }

  .Slides img{
    width: 100%;
  }

  .slideContainer{
   width: 38%;
   padding: 0;
   margin: 0;
  }


  /* Slideshows ends */
  
  
  


  /* Navigation Section */

  .bar1, .bar2, .bar3{
  width: 35px;
  color: #000;
  background-color: #333;
  height: 5px;
  transition: 0.4s;
  }

  .change .bar1{
    transform: translate(11px) , rotate(45deg);
  }

  .change .bar1{
    opacity: 0;
  }

.change .bar3{
    transform: translate(-11px) , rotate(45deg);
  }


  .nav-btn{
    visibility: hidden;
    position: absolute;
    display: grid;
    align-content: center;
    gap: 10%;
  }

  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0%;
    right: 0%;
    background-color: #0096FF;
    padding: 0.5px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  nav button {
    width: fit-content;
    display: none;
    border-radius: 0;
    background-color: transparent;

  }
  nav button i {
    color: #000;
  }
  
   nav ul {
   
    display: flex;
    justify-content: flex-end;
  }
  
   nav li {
    padding: 3px;
    margin: 3px;
    font-size: 1.4rem;
    
  }

  nav li:active{
    background-color: grey;
  }

  /* Toolbox */

  #tools{
    background-color: #F4F5FA;
  }

.grid{
  display: grid;
  /* grid-template: repeat(2, auto)/ repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 10px; 
  padding: 40px; 
  max-width: 1100px;
}

#tools img{
  margin:0  auto;
  margin-bottom: 0;
 border: 2px solid blue;
 object-fit: cover;
}

#tools p{
 
  text-align: center;
  margin: 0;
}

#tools li{
  border: 1px solid ;
  max-width: 150px;
  text-align: center;

}

 #tools .fab{
  font-size: 3rem;
}

  /* Toolbox ends */




  /* Projects */
  /* Projects */
  /* Projects */
  /* Projects */
  /* Projects */
  #project-header {
    font-size: 2rem;
    text-align: center;
    margin: 3rem;
  }
  
  .project-preview {
  background-color: white;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 400px;
  min-height: 300px;
  background-color: #0096FF;
  }
  


  
  
  .project-preview img {  
    max-width: 100%;  
    object-fit: cover;
    max-height: 40%;
    min-height: 40%;
    border-radius: 12px 12px 0  0;
  }
  
  #project-section {
  display: grid;
  /* grid-template: repeat(1, 100%)/repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 40px;
  
 
}

/* 
viewLiveSiteh6 left 0
h2 left 0



languagesUsed left0  flex   view code right
*/

#project-section li{
  padding: 0;
  margin: 0;
}
  

  .text{
    overflow: hidden;
    height: auto;
    margin: 0;
    padding: 0 12px;
    color:black;
    background-color: white;
    font-size: 16px;
  }

   /*  */
   /*  */
   /*  */
   /*  */
   /*  */
   /*  */

  @media (max-width: 900px) {
    #project-section {
      grid-template-columns: repeat(2, 1fr);
    }

    .slideContainer{
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    #project-section {
      grid-template-columns: 1fr;
    }
    .slideContainer{
      width: 100%;
    }
  }
  
  


/*  */
/*  */
/*  */
/*  */


  /* Project Page */
  #mainProject .flex {
    gap: 20%;
  }
  
  #mainProject .hero {
    width: 40%;
  }
  
  #mainProject .image-container {
    width: 70%;
    gap: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-top: 5px solid green;
    border-bottom: 5px solid #0096FF;
  }
  
  #mainProject .card {
    margin: 4rem 0;
  }
  
  #mainProject img {
    width: 100%;
  }
  
  button {
    padding: 12px;
    background-color: var(--blue);
    text-align: center;
    border-radius: 5px;
    color: var(--bg);
    font-size: 20px;
    margin: auto;
    width: 10rem;
  }
  
  .center {
    display: block;
    margin: 3rem auto;
    width: 10rem;
  }
  
  .space {
    margin-top: 4rem;
  }
  
/* Contact Section */
  #Contact {
    text-align: center;
    flex-grow: 1;
    margin: 2rem 0;
  }
  
  #Contact h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  #Contact h4 {
    color: var(--blue);
    text-align: center;
    text-transform: capitalize;
  }
  
  .social-icons {
    overflow: none;
  }
  
  .fab {
    font-size: 2rem;
  }
  
  #Contact ul {
    padding: 10px 10px;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #Contact li {
    padding: 5px;
  }

  /*Animation*/
  
.chevron:hover{
    background: var(--bg);
   /* transition: background 0.3s ease-out; */
}
  /* Footer */
  footer {
    width: 100%;
    padding: 2rem;
    background-color: var(--yellow);
    color: #F4F5FA;
  }


  


  /* Media Queries */
  @media screen and (max-width: 700px) {
    section {
      width: 100%;
      height: fit-content;
      margin: auto;

    }
  
    nav{
        display: flex;
        justify-content: space-between;
    }
    .nav-list{
      display: none;
    }

    #nav-btn {
      
        margin: 0;
        visibility: unset;
        right: 5px;
        top: 14px;
        }

      .nav-list.active{
        display: block;
        position: absolute;
        background-color: var(--bg);
        width: 100%;
        left: 10px;
        top: 3rem;
        border: 1px solid ;
    
      }
  
    #mainProject {
      display: block;
    }
  
    #mainProject .image-container {
      width: 100%;
    }
  
   
  
    .container {
      margin: 0 auto;
    }
  
    .developer-about, #developer-intro img {
      width: 100%;
    }
  
  
    .flex {
      display: block;
     } 
  
    .project-description {
      width: inherit;
    }
  
    #mainProject .hero {
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .flex {
      display: block;
    }
  
    /* #project-section img {
     height: fit-content;
    } */
  
    .developer-about, #developer-intro img {
      width: 100%;
 }
    /* .project-preview img {
        height: fit-content;
        width: 100%;
        object-fit: cover;
      }  */
      
    #nav-btn {
    
      margin: 0;
      visibility: unset;
      right: 5px;
      top: 14px;
      }
  }
  